
<% layout("/layouts/boilerplate") %>
<body>
    <h3>CReate a New Listing</h3>

    <form action="/listings" method="POST">
        <input  type="text" name="listing[title]" placeholder="Enter Title">
        <br><br>
        <textarea  name="listing[description]" placeholder="Enter Enter description"> </textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="enter image URL/Link">
        <br><br>
        <input name="listing[price]" placeholder="Enter Price" type="number">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter Country">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter location">
        <br><br>
        <button>ADD</button>

    </form>
    
</body>
