


<%- include('partials/header') %>
<div>
    <h1>Home</h1>

    <p><%= startingContent %></p>
    

   
 


   <% posts.forEach(element => { %>
    <% console.log(element.title) %>
<% }); %>

    
  
</div>


<%- include('partials/footer') %>

