<%- include("includes/head.ejs"); %>
<body>


    <h1>This is the Home page 1+2</h1>
    <h3><%= ['monsaf','ali','kamal'][2] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam id ducimus, assumenda vero autem ut rerum! Illo odit consequatur nam fugit numquam, recusandae eos doloribus sunt vel sit tempore pariatur!</p>
    
    <button>click me</button>

    <%- include("includes/footer.ejs") %>
</body>
</html>