<%- include("include/head.ejs") %>
<body>
    


    <h1>Dice gave value: <%= diceVal %></h1>

    <!-- constrol statemenl -->
    <% if(diceVal ==  6) { %>
        <h2>roll dice again</h2>
        <% } %>
 


      
   
        
    </body>
</html>