<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new Chat</title>
</head>
<body>
    
    <h3>Write a New Chat</h3>

    <form action="/chats" method="POST">
        <input type="text" placeholder="Who are You?"name="from">
        <br>   <br>
        <textarea name="msg" id="">Write your message here</textarea>
        <br>   <br>
        <input type="text" placeholder="Add Receiver" name="to">
        <br>   <br>
        <button>create Chat</button>

    </form>
</body>
</html>